<%= form_with(model: @user, local: true) do |f| %>

  <div class="mobile-title">
    <div class="mobile-t">
      <h1>User Edit</h1>
      <p>...新しい情報を教えてくれ</p>
    </div>
  </div>

  <div class="title">
    <div class="selif-right">
      <%= render "shared/error_message", object: f.object %>
      <% if !@user.errors.any? %>
       <p>名前変えに来たの〜？</p>
       <p>やばーい</p>
      <% end %>
    </div>
    <% if !@user.errors.any? %>
      <%= image_tag 'Bratty and Catty1.gif', class: 'bratty_and_catty' %>
    <% else %>
      <%= image_tag 'Bratty and Catty2.gif', class: 'bratty_and_catty' %>
    <% end %>
    <div class="selif-left">
      <% if @user.errors.any? %>
        <p>急に英語になっててやばーい</p>
      <% else %>
        <p>メアド変えに来たの〜？</p>
        <p>やばーい</p>
      <% end %>
    </div>
  </div>

  <div class="undertale">

      <div class="form-group">
        <%= f.label :名前 %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :メールアドレス %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :パスワード %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :パスワード確認 %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>

      <%= f.submit "SAVE", class: "btn btn-border" %>

  </div>
<% end %>
