  <%= form_with(model: @user, local: true) do |f| %>

    <div class="mobile-title">
    <div class="mobile-t">
      <h1>Sign Up</h1>
      <p>...新しいアカウントを作成するよ</p>
    </div>
  </div>

  <div class="title">
    <% if !@user.errors.any? %>
      <%= image_tag 'bugerpant1', class: 'bugerpant' %>
    <% else %>
      <%= image_tag 'bugerpant2', class: 'bugerpant' %>
    <% end %>
    <div class="selif-left">
      <%= render "shared/error_message", object: f.object %>
      <% if !@user.errors.any? %>
       <p>せんぱいとしてアドバイスしとくぜ</p>
       <p>あんたはまだアカウントをもってない</p>
       <p>はやくつくりな</p>
      <% end %>
    </div>
  </div>

    <div class="undertale">

        <div class="form-group">
          <%= f.label :名前 %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :メールアドレス %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :パスワード %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :パスワード確認 %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>

        <%= button_tag type: 'submit', class: 'btn btn-border' do %>
          <%= image_tag '紙飛行機アイコン.png', class: 'icon' %>そうしん
        <% end %>

    </div>
  <% end %>
