<div class="mobile-title">
  <h1 class="mobile-t">
    <%= image_tag "heart.png", class: "heart" %>
    <%= link_to @user.name, user_path %>
  </h1>
  <div class="mobile-serch">
    <%= render "layouts/serch" %>
  </div>
</div>

<div class="title">
  <%= image_tag "heart.png", class: 'heart' %>
  <div class="selif-left">
    <% if logged_in? %>
      <% if @user.id == current_user.id %>
        <p>自分のページだ。</p>
        <p><%= @user.email %></p>
        <%= render "layouts/serch" %>
      <% else %>
        <p><%= @user.name %>のページだ</p>
        <p><%= @user.email %></p>
        <%= render "layouts/serch" %>
      <% end %>
    <% else %>
      <p><%= @user.name %>のページだ</p>
      <p><%= @user.email %></p>
      <%= render "layouts/serch" %>
    <% end %>
  </div>
</div>

  <% if @projects.any? %>
    <div class="undertale">
      <%= render "layouts/nav_user_show" %>
    </div>
  <% end %>
