<div class="selif-left">
  <p><%= @user.name %>のページだよ</p>
  <p><%= @user.email %></p>
</div>

<div class="undertale">
  <% if @projects.any? %>
    <%= @projects.each do |project| %>
      <div class="project-control">
        <p><%= project.title %></p>
        <%= image_tag project.image if project.image.attached? %>
        <p><%= project.content %></p>
        <%= link_to "delete", project_path, method: :delete, data: { confilm: "you sure?" } %>
      </div>
    <% end %>  
  <% end %>
</div>