<div class="about-text">
  <h1><%= link_to "Project To Do", root_path %></h1>
  <p>...それはプロジェクト管理アプリ。</p>
</div>

<div class="about-main">
  <div class="about-img">
    <%= image_tag "about_top.png" %>
    <%= image_tag "about_project.png" %>
  </div>
  <div class="about-text">
    <p>プロジェクトを作成し、チーム内での共有しよう。</p>
    <p>納期の期限も設定可能です。</p>
  </div>
  <div class="about-img">
    <%= image_tag "about_signup.png" %>
    <%= image_tag "about_user_edit.png" %>
  </div>
  <div class="about-text">
    <p>まずはユーザー登録を行おう。</p>
    <p>すてきな仲間が案内してくれるよ。</p>
    <p>名前とメアドを変えたくなってもいつでも変更できるよ。</p>
  </div>
  <div class="about-img">
    <%= image_tag "about_new_project.png" %>
    <%= image_tag "about_user_show.png" %>
  </div>
  <div class="about-text">
    <p>新しいプロジェクトを作成してみよう。</p>
    <p>チームの人間なら編集できるからね。githubも確認できるよ。</p>
    <p>自分のページも人のページも覗くことができるよ。もちろん検索もできるよ。</p>
    <p>もしかしたら参考になるプロジェクトもあるかもね。</p>
  </div>
  <div class="about-text" style="margin-top: 300px;">
    <p>使い方はわかったかな？</p>
    <p>バグがあったら教えてね。</p>
    <p>追加機能も予定してるから期待してね。</p>
    <p>じゃあいってらっしゃい</p>
  </div>
  <div class="command">
    <%= link_to "HOME", root_url %>
  </div>
</div>
