<div class="title">
  <h1>Welcome!</h1>
  <p>参加メンバーはログインしてください。</p>
  <p>初めての方は<%= link_to "『Sign Up』", signup_path %>をよかったらどうぞ</p>
</div>
 <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="card undertale">
          <h5 class="card-header">user-index</h5>
          <div class="card-body">
            <div class="card-text">
              <%= @users.each do |user| %>
                <p>
                  <%= link_to user do %>
                    <%= image_tag 'heart.png' %>
                    <%= user.name %>
                  <% end %>
                </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card undertale">
          <h5 class="card-header">project-index</h5>
          <div class="card-body">
            <p class="card-text">
              <%= @projects.each do |project| %>
                <p>
                  <%= link_to project.title, project %>
                </p>
              <% end %>
            </p>
            
          </div>
        </div>
      </div>
    </div>
</div>
    