<div class="title">
  <%= image_tag 'flowy.jpg', class: 'flowy' %>
  <div class="selif-left">
    <% if logged_in? %>
      <p><%= current_user.name %>,新しいプロジェクトを作成するの？</p>
      <p>なんて素敵なアイデア！</p>
      <p><%= link_to "New Project", projects_new_path %></p>
    <% else %>
      <p>やぁ！</p>
      <p>初めての方は<%= link_to "Sign Up", signup_path %>をしてね</p>
      <p>参加メンバーは<%= link_to "Login", login_path %>をしてね</p>
    <% end %>
  </div>
</div>

 <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="card undertale">
          <h5 class="card-header">user-index</h5>
          <div class="card-body">
            <div class="card-text">
              <%= @users.each do |user| %>
                <p>
                  <%= link_to user do %>
                    <%= image_tag 'heart.png' %>
                    <%= user.name %>
                  <% end %>
                </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card undertale">
          <h5 class="card-header">project-index</h5>
          <div class="card-body">
            <p class="card-text">
              <%= @projects.each do |project| %>
                <p>
                  <%= link_to project.title, project %>
                </p>
              <% end %>
            </p>

          </div>
        </div>
      </div>
    </div>
</div>
