<nav class="navbar navbar-light" style="background-color: #555555;">
    <div class="container">
        <%= link_to "Home", root_path %>
        <%= link_to "About", about_path %>
        <% if logged_in? %>
          <%= link_to current_user.name, user_path(current_user) %>
          <div class="dropdown">
            <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <li>Menu</li>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><%= link_to "user edit", edit_user_path(current_user) %></li>
              <li><%= link_to "new project", projects_new_path %></li>
              <li><%= link_to "Log out", logout_path, method: :delete %></li>
            </div>
          </div>
        <% else %>
          <%= link_to "Sign up", signup_path %>
          <%= link_to "Login", login_path %>
        <% end %>
    </div>
</nav>
