<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-project-tab" data-toggle="tab" href="#nav-project" role="tab" aria-controls="nav-project" aria-selected="true">プロジェクト一覧</a>
    <a class="nav-item nav-link" id="nav-user-tab" data-toggle="tab" href="#nav-user" role="tab" aria-controls="nav-user" aria-selected="false">ユーザー一覧</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-project" role="tabpanel" aria-labelledby="nav-project-tab">
    <%= @projects.each do |project| %>
      <p class="project-title">
        *<%= link_to project.title, project %>
      </p>
    <% end %>
    <%= paginate @projects %>
  </div>
  <div class="tab-pane fade" id="nav-user" role="tabpanel" aria-labelledby="nav-user-tab">
    <div class="card-text">
    <%= @users.each do |user| %>
      <li>
        <%= link_to user do %>
          <%= image_tag "heart.png" %>
          <%= user.name %>
        <% end %>
        <%= user.email %>
      </li>
    <% end %>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
    <%= @projects.each do |project| %>
      <% if project.finish == false %>
        <p class="project-title">
          *<%= link_to project.title, project %>
          <small style="color: yellow;"><%= project.start_on %>~<%= project.end_on %></small>
        </p>
      <% end %>
    <% end %>
  </div>
</div>
